@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddCourseToSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}

<h3 class="page-header">Add Course To Schedule</h3>
<a href="/Admin/ScheduleList"><< back</a>
<div id="divCourseListContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                <th>Course Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text: id">0</td>
                <td data-bind="text: year">1989</td>
                <td data-bind="text: quarter">Fall</td>
                <td data-bind="text: session">B00</td>
                <td data-bind="text: course.title">CSE 197</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <label>Time</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Day</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Instructor</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <input class="btn btn-primary" value="Add" type="button" />
    <div id="divMessage" class="text-success">&nbsp;</div>
</div>

