@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddCourseToSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}

<h3 class="page-header">Add Course To Schedule</h3>
<a href="/Admin/EditSchedule?year=@ViewBag.Year&quarter=@ViewBag.Quarter"><< back</a>
<div id="divScheduleAddCourse">

    <label>Time</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleTimeList,
                            value: viewModel.newSchedule.ScheduleTime.TimeId,
                            optionsText: 'Time',
                            optionsValue: 'TimeId',
                            optionsCaption: 'Choose a Time...'"></select>
    </div>

    <label>Day</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleDayList,
                            value: viewModel.newSchedule.ScheduleDay.DayId,
                            optionsText: 'Day',
                            optionsValue: 'DayId',
                            optionsCaption: 'Choose Day...'"></select>
    </div>

    <label>Instructor</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleInstructorList,
                            value: viewModel.newSchedule.Instructor.InstructorId,
                            optionsText: function(instructor){
                                return instructor.FirstName + ' ' + instructor.LastName;
                            },
                            optionsValue: 'InstructorId',
                            optionsCaption: 'Choose an Instructor...'"></select>
    </div>

    <input class="btn btn-primary" value="Add" type="button" data-bind="click: viewModel.AddNewCourseSchedule" />
    <div id="divMessage" class="text-success">&nbsp;</div>

    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text: viewModel.newSchedule.id">0</td>
                <td data-bind="text: viewModel.newSchedule.Year">1989</td>
                <td data-bind="text: viewModel.newSchedule.Quarter">Fall</td>
            </tr>
        </tbody>
    </table>
    <hr />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var scheduleViewModelObj = new ScheduleViewModel();
        scheduleViewModelObj.LoadAddCourse("@ViewBag.year", "@ViewBag.quarter", @ViewBag.CourseId);
    });
</script>
