@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}

<h3 class="page-header">Add Course To Schedule</h3>
<a href="/Admin/ScheduleList"><< back</a>
<div id="divCourseListContent">
    <label>Year</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Quarter</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Session</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Time</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Day</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Instructor</label>
    <input class="form-control" type="text" data-bind="" /><br />

    <label>Course</label>
    <input class="form-control" type="text" data-bind="" /><br />
    <input class="btn btn-primary" value="Add" type="button" />
    <br />
    <hr />
    <div id="divMessage" class="text-success">&nbsp;</div>
</div>

