@{
    ViewBag.Title = "CreateTas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header" >Create A New Ta</h3>
<a href="/Admin/TaList"><< back</a>
<div id="divTa">
    <table>
        <tr>
            <td>Id</td>
            <td><input data-bind="value: id" /></td>
        </tr>
        <tr>
            <td>First</td>
            <td><input data-bind="value: first" /></td>
        </tr>
        <tr>
            <td>Last</td>
            <td><input data-bind="value: last" /></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><input data-bind="value: type" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button data-bind="click: add">Add</button></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var taViewModelObj = new TaViewModel();
        taViewModelObj.Initialize();
    });
</script>
