@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}

<h3 class="page-header">Add New Schedule</h3>
<a href="/Admin/ScheduleList"><< back</a>
<div id="divScheduleAdd">
    <label>Year</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.yearList,
                            value: 0,
                            optionsCaption: 'Choose a Year...'"></select>
    </div>

    <label>Quarter</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.quarterList,
                            value: 0,
                            optionsCaption: 'Choose a Quarter...'"></select>
    </div>

    <label>Session</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.sessionList,
                            value: 0,
                            optionsCaption: 'Choose a Session...'"></select>
    </div>

    <label>Time</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleTimeList,
                            value: viewModel.newSchedule.ScheduleTime.TimeId,
                            optionsText: 'Time',
                            optionsValue: 'TimeId',
                            optionsCaption: 'Choose a Time...'"></select>
    </div>

    <label>Day</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleDayList,
                            value: viewModel.newSchedule.ScheduleDay.DayId,
                            optionsText: 'Day',
                            optionsValue: 'DayId',
                            optionsCaption: 'Choose Day...'"></select>
    </div>

    <label>Instructor</label>
    <select class="form-control" data-bind=" options: viewModel.availableInstructors"></select><br />

    <label>Course</label>
    <select class="form-control" data-bind=" options: viewModel.availableCourses"></select><br />
    <input class="btn btn-primary" value="Add" type="button" data-bind="click: viewModel.AddNewCourseSchedule" />
    <br />
    <hr />
    <div id="divMessage" class="text-success">&nbsp;</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var scheduleViewModelObj = new ScheduleViewModel();
        scheduleViewModelObj.LoadCreateCourse();
    });

</script>

