@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}

<h3 class="page-header">Add New Schedule</h3>
<a href="/Admin/ScheduleList"><< back</a>
<div id="divCourseListContent">
    <label>Year</label>
    <select class="form-control" data-bind="options: availableYears"></select><br />

    <label>Quarter</label>
    <select class="form-control" data-bind=" options: availableQuarters"></select><br />

    <label>Session</label>
    <select class="form-control" data-bind=" options: availableSessions"></select><br />

    <label>Time</label>
    <select class="form-control" data-bind=" options: availableTimes"></select><br />

    <label>Day</label>
    <select class="form-control" data-bind=" options: availableDays"></select><br />

    <label>Instructor</label>
    <select class="form-control" data-bind=" options: availableInstructors"></select><br />

    <label>Course</label>
    <select class="form-control" data-bind=" options: availableCourses"></select><br />
    <input class="btn btn-primary" value="Add" type="button" />
    <br />
    <hr />
    <div id="divMessage" class="text-success">&nbsp;</div>
</div>

<script type="text/javascript">
    var viewModel = {
        // These are the initial options
        availableYears: ko.observableArray(['2015', '2014', '2013']),
        availableQuarters: ko.observableArray(['Fall', 'Winter', 'Spring', 'Summer Session 1', 'Summer Session 2', 'Special Summer Session']),
        availableSessions: ko.observableArray(['A00', 'B00']),
        availableTimes: ko.observableArray(['8:00 AM', '9:00AM']),
        availableDays: ko.observableArray(['Mon/Wed/Fri', 'Tues/Thurs', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri']),
        availableInstructors: ko.observableArray(['Isaac Chu', 'Mia Minnes']),
        availableCourses: ko.observableArray(['CSE 105', 'CSE 134B', 'CSE 136'])
    };

    ko.applyBindings(viewModel);
</script>

