@{
    var id = ViewBag.id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Edit Course In Schedule</h2>
<a href="/Admin/EditSchedule?year=@ViewBag.Year&quarter=@ViewBag.Quarter"><< back</a>
<div id="divScheduleEditCourse">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                <th>Course Title</th>
                <th>Time</th>
                <th>Day</th>
                <th>Instructor Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-bind="text: viewModel.newSchedule.ScheduleId"></td>
                <td data-bind="text: viewModel.newSchedule.Year"></td>
                <td data-bind="text: viewModel.newSchedule.Quarter"></td>
                <td data-bind="text: viewModel.newSchedule.Session"></td>
                <td data-bind="text: viewModel.newSchedule.Course.Title"></td>
                <td data-bind="text: viewModel.newSchedule.ScheduleTime.Time"></td>
                <td data-bind="text: viewModel.newSchedule.ScheduleDay.Day"></td>
                <td data-bind="text: viewModel.newSchedule.Instructor.FirstName"></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <label>Session</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.sessionList,
                            value: viewModel.newSchedule.Session,
                            optionsCaption: 'Choose a Session...'"></select>
    </div>

    <label>Time</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleTimeList,
                            value: viewModel.newSchedule.ScheduleTime.TimeId,
                            optionsText: 'Time',
                            optionsValue: 'TimeId',
                            optionsCaption: 'Choose a Time...'"></select>
    </div>

    <label>Day</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleDayList,
                            value: viewModel.newSchedule.ScheduleDay.DayId,
                            optionsText: 'Day',
                            optionsValue: 'DayId',
                            optionsCaption: 'Choose Day...'"></select>
    </div>

    <label>Instructor</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.scheduleInstructorList,
                            value: viewModel.newSchedule.Instructor.InstructorId,
                            optionsText: function(instructor){
                                return instructor.FirstName + ' ' + instructor.LastName;
                            },
                            optionsValue: 'InstructorId',
                            optionsCaption: 'Choose an Instructor...'"></select>
    </div>

    <input class="btn btn-primary" value="Update" type="button" data-bind="click: viewModel.UpdateCourseFromSchedule" />
    <br />
    <div id="divMessage" class="text-success">&nbsp;</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var scheduleViewModelObj = new ScheduleViewModel();
        scheduleViewModelObj.LoadEditCourse("@ViewBag.year", "@ViewBag.quarter", @ViewBag.Id);
    });
</script>