@{
    var id = ViewBag.id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Edit Course Pre Req</h2>
<a href="/Admin/CourseList"><< back</a>
<div id="divPreReqManagement">
    <div>
        <table style="width:100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Course Level</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-bind="text: viewModel.viewCourse.id">0</td>
                    <td data-bind="text: viewModel.viewCourse.title">1</td>
                    <td data-bind="text: viewModel.viewCourse.level">2</td>
                    <td data-bind="text: viewModel.viewCourse.description">3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <h2 class="page-header">Current Pre Reqs</h2>
    <div>
        <table style="width:100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Course Level</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: viewModel.currentPreReqList">
                <tr>
                    <td data-bind="text: CourseId"></td>
                    <td data-bind="text: Title"></td>
                    <td data-bind="text: Level"></td>
                    <td data-bind="text: Description"></td>
                    <td>
                        <!-- Note, this is an example using knockout templating. $data is the keyword
                to for each element of the viewModel array -->
                        <div data-bind="template: { name: 'action-template', data: $data}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <h2 class="page-header">Courses</h2>
    <div>
        <table style="width:100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Course Level</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: viewModel.coursesList">
                <tr>
                    <td data-bind="text: CourseId"></td>
                    <td data-bind="text: Title"></td>
                    <td data-bind="text: Level"></td>
                    <td data-bind="text: Description"></td>
                    <td>
                        <!-- Note, this is an example using knockout templating. $data is the keyword
                            to for each element of the viewModel array -->
                        <div data-bind="template: { name: 'action-template', data: $data}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a>Assign Course As PreReqs</a>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var courseViewModelObj = new CourseListViewModel();
        courseViewModelObj.LoadPreReq(@ViewBag.id);
    });
</script>