<h3 class="page-header">Edit student</h3>
<a href="/Admin/StudentList?id=@ViewBag.adminId"><< back</a>
<div id="divStudentContent">
    <label>First Name</label>
    <input class="form-control" type="text" data-bind="value: $data.first" /><br />

    <label>Last Name</label>
    <input class="form-control" type="text" data-bind="value: $data.last" /><br />

    <label>Email</label>
    <input class="form-control" type="text" data-bind="value: $data.email" /><br />

    <label>Password</label>
    <input class="form-control" type="text" data-bind="value: $data.password" /><br />

    <input class="btn btn-primary" value="Update" type="button" data-bind="value: 'Update', click: $data.update" />
    <br />
    <div id="divMessage" class="text-success">&nbsp;</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var studentViewModelObj = new StudentViewModelAdmin();
        studentViewModelObj.GetDetail("@ViewBag.id");
    });
</script>
