@{
    var id = ViewBag.id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Edit Course</h2>
<a href="/Admin/CourseList"><< back</a>
<div id="divCourseContent">
    <label>Title</label>
    <input class="form-control" type="text" data-bind="value: $data.title" /><br />

    <label>Description</label>
    <textarea class="form-control" type="text" data-bind="value: $data.description"></textarea><br />

    <label>Level</label>
    @*<input class="form-control" type="text" data-bind="value: $data.level" /><br />*@
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select Level
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a value="0" href="#">lower</a></li>
            <li><a value="1" href="#">upper</a></li>
            <li><a value="2" href="#">grad</a></li>
        </ul>
    </div>
    </br></br>

    <input class="btn btn-primary" type="button" data-bind="value: 'Update', click: $data.update" />
    <br />
    <div id="divMessage" class="text-success">&nbsp;</div>   
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var courseViewModelObj = new CourseListViewModel();
        courseViewModelObj.GetDetail(@id);
    });
</script>