@{
    ViewBag.Title = "Admin";
}
<h2 class="page-header">Welcome admin</h2>

<p>What feature should admin able to do?</p>
<ul>
    <li><a href="~/Admin/Edit?id=@ViewBag.id">Edit my info</a></li>
    <li><a href="~/Admin/StudentList">Show All Students</a></li>
    <li><a href="~/Admin/TaList">Show All Ta's</a></li>
    <li><a href="~/Admin/InstructorList">Show All Instructors</a></li>
    <li><a href="~/Admin/CourseList">Show All Courses</a></li>
    <li>manage new course schedule</li>
</ul>
