@{
    ViewBag.Title = "List";
}

<h3 class="page-header">Instructor List Page</h3>
<a href="/Admin?id=@Session["adminId"]"><< back</a>
<div id="divInstructorListContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>First</th>
                <th>Last</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: first"></td>
                <td data-bind="text: last"></td>
                <td data-bind="text: title"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                        to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <a data-bind="attr: { href : '/Admin/CreateInstructor', title: 'create' }">Add New Instructor</a>
</div>

<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <!-- <a data-bind="attr: { href : '/Student/?id=' + id, title: 'detail' }">detail</a>-->
    <a data-bind="attr: { href : '/Admin/EditInstructor?id=' + id, title: 'edit' }">edit</a>
    <a data-bind="DeleteInstructor: $data">delete</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var instructorViewModelObj = new InstructorViewModel();
        instructorViewModelObj.GetAll();
    });
</script>
