@{
    var id = ViewBag.Id;
}
<h3 class="page-header">Students Current Enrollments</h3>
<a href="/Admin/StudentList"><< back</a>
<div id="divStudentEnrollments">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                <th>Instructor</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.studentEnrollmentList">
            <tr>
                <td data-bind="text: EnrolledSchedule.ScheduleId"></td>
                <td data-bind="text: EnrolledSchedule.Year"></td>
                <td data-bind="text: EnrolledSchedule.Quarter"></td>
                <td data-bind="text: EnrolledSchedule.Session"></td>
                <td data-bind="text: EnrolledSchedule.Instructor.FirstName"></td>
                <td data-bind="text: EnrolledSchedule.Course.Title"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="DeleteEnrollment: $data">Drop</a>
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var enrollmentViewModelObj = new EnrollmentViewModel();
        enrollmentViewModelObj.LoadStudentEnrollments("@ViewBag.Id");
    });
</script>