@{
    ViewBag.Title = "Welcome";
}
<h2 class="page-header">Welcome to CSE 136 Enterprise web-applications.</h2>
Please <a href="/Login">Login</a>

<hr />

<div id="divCourseListContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: title"></td>
                <td data-bind="text: description"></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var courseListViewModelObj = new CourseListViewModel();
        courseListViewModelObj.Load();
    });
</script>
