@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddCapeReview";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
    var id = ViewBag.id;
    var cid = ViewBag.Course_id;
}

<h3 class="page-header">Add Cape Review</h3>

<a href="/Student/"><< back</a>

<div id="divCapeReview">

    <label>Course</label>
    <select class="form-control" data-bind="value: course">
        <option value="1">CSE 3</option>
        <option value="upper">Upper</option>
        <option value="grad">Grad</option>
    </select> <br />

    <label>Course Rating</label>
    <select class="form-control" data-bind="value: desired">
        <option value="cr1">1</option>
        <option value="cr2">2</option>
        <option value="cr3">3</option>
        <option value="cr4">4</option>
        <option value="cr5">5</option>

    </select> <br />
    <br />

    <label>Reason</label>
    <input class="form-control" type="text" data-bind="value: reason"/>
    <br />

    <input class="btn btn-primary" value="Request" type="button" data-bind="value: 'Add', click: $data.add" />
    <br /><br />

    <div id="divMessage" class="text-success">&nbsp;</div>
</div>






<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="AddCourse: $data">Add Review</a>
</script>
