@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddCourseToSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}


<h3 class="page-header">Current Schedule</h3>
<a href="/Student/ScheduleList?id=@Session["studentid"]"><< back</a>
<div id="StudentAddCourseToSchedule">
    <div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                    <th>Course Title</th>
                    <th>Time</th>
                    <th>Day</th>
                    <th>Instructor Name</th>
                    <th>Actions</th>
            </tr>
        </thead>
            <tbody data-bind="foreach: viewModel.studentScheduleList">
            <tr>
                    <td data-bind="text: ScheduleId"></td>
                    <td data-bind="text: EnrolledSchedule.Year"></td>
                    <td data-bind="text: EnrolledSchedule.Quarter"></td>
                    <td data-bind="text: EnrolledSchedule.Session"></td>
                    <td data-bind="text: EnrolledSchedule.Course.Title"></td>
                    <td data-bind="text: EnrolledSchedule.Time.Time"></td>
                    <td data-bind="text: EnrolledSchedule.Day.Day"></td>
                    <td data-bind="text: EnrolledSchedule.Instructor.FirstName"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                        to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'cape-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/html" id="cape-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="attr: { href : '/Student/AddCapeReview?id=' + ScheduleId + '&inst=' + EnrolledSchedule.Instructor.FirstName + '&coursename=' + EnrolledSchedule.Course.Title + '&courseid=' + EnrolledSchedule.Course.CourseId, title: 'write' }">Write Cape Review</a>
    <a data-bind="RemoveCourseFromSchedule: $data">Delete</a>
</script>

<h3 class="page-header">Add Course To Schedule</h3>
    <div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                <th>Course Title</th>
                <th>Time</th>
                <th>Day</th>
                <th>Instructor Name</th>
                <th>Actions</th>
            </tr>
        </thead>
            <tbody data-bind="foreach: viewModel.scheduleList">
            <tr>
                    <td data-bind="text: ScheduleId"></td>
                    <td data-bind="text: Year"></td>
                    <td data-bind="text: Quarter"></td>
                    <td data-bind="text: Session"></td>
                    <td data-bind="text: Course.Title"></td>
                    <td data-bind="text: Time.Time"></td>
                    <td data-bind="text: Day.Day"></td>
                    <td data-bind="text: Instructor.FirstName"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                    to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="AddCourseToStudent: $data">Add Course</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var scheduleViewModelObj = new ScheduleViewModel();
        scheduleViewModelObj.LoadStudentEnrollments("@ViewBag.year", "@ViewBag.quarter", "@Session["studentid"]");
    });
</script>