@{
    ViewBag.Title = "GetSchedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">All Schedules</h3>
<a href="/Student/ScheduleList?id=@Session["studentId"]"><< back</a>
<div id="divScheduleListContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Year</th>
                <th>Quarter</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: year"></td>
                <td data-bind="text: quarter"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                        to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="attr: { href : '/Student/AllScheduleList?year=' + year +'&quarter=' + quarter, title: 'view' }">Add Course</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var scheduleViewModelObj = new ScheduleViewModel();
        scheduleViewModelObj.GetAllMin();
    });
</script>