@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddCourseToSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}

<h3 class="page-header">Add Course To Schedule</h3>


<a href="/Student/ScheduleList"><< back</a>
<div id="fakeContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                <th>Instructor</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td>1</td>
                <td>2015</td>
                <td>Summer</td>
                <td>1</td>
                <td>CHUCHUTRAIN</td>
                <td>CSE 3</td>
                <!-- hard coded bs
                <td data-bind="text: year"></td>
                <td data-bind="text: quarter"></td>
                <td data-bind="text: session"></td>
                <td data-bind="text: instructor"></td>
                <td data-bind="text: coursename"></td>
                -->
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                        to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h3 class="page-header">Available Courses</h3>
<div id="divScheduleListContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Quarter</th>
                <th>Session</th>
                <th>Course Title</th>
                <th>Time</th>
                <th>Day</th>
                <th>Instructor Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: year"></td>
                <td data-bind="text: quarter"></td>
                <td data-bind="text: session"></td>
                <td data-bind="text: course.title"></td>
                <td data-bind="text: time.name"></td>
                <td data-bind="text: day.name"></td>
                <td data-bind="text: instructor.name"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                    to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="AddCourse: $data">Add Course</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var scheduleViewModelObj = new ScheduleViewModel();
        scheduleViewModelObj.GetAll("@ViewBag.Year","@ViewBag.Quarter");
    });
</script>