@{
    ViewBag.Title = "Class Enrollment";
    var id = ViewBag.Id;
}

<h2 class="page-header">Class Enrollment</h2>
<a href="/Student?id=@Session["studentId"]"><< back</a>

<div> Class Enrollment Goes here !</div>