@{
    ViewBag.Title = "Student";
    var id = ViewBag.Id;
}

<h2 class="page-header">Grade Change Request</h2>
<a href="/Student?id=@Session["studentId"]"><< back</a>

<div> Class Enrollment Goes here !</div>