@{
    ViewBag.Title = "Student";
    var id = ViewBag.Id;
}

<h2 class="page-header">Welcome Student</h2>
<p>What feature should admin able to do?</p>
<ul>
    <li><a href="~/Student/Edit?id=@ViewBag.id">Edit my info</a></li>
    <li><a href="~/Student/ScheduleList?id=@ViewBag.id">Show current schedule</a></li>
    <li><a href="~/Student/GradeChange?id=@ViewBag.id">Request a grade change</a></li>
</ul>
