@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddCourseToSchedule";
    var year = ViewBag.year;
    var quarter = ViewBag.quarter;
}

<h3 class="page-header">Request Prerequisite Clearance</h3>

<a href="/Student?id=@Session["studentId"]"><< back</a>

<div id="divPreReqListContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Course Level</th>
                <th>Description</th>
                <th>Reason for Request</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.prereqListResult">
            <tr>
                <td data-bind="text: CourseId"></td>
                <td data-bind="text: Title"></td>
                <td data-bind="text: Level"></td>
                <td data-bind="text: Description"></td>
                <td>
                    <input class="form-control" type="text" />
                </td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                to for each element of the viewModel array -->
                    <input class="btn btn-primary" value="Submit" type="button" data-bind="value: 'Update', click: $parent.viewModel.UpdatePreReqFromSchedule" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
</br>

<script type="text/html" id="action-template" >
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <input class="btn btn-primary" value="Submit" type="button" data-bind="value: 'Update', click: $parent.viewModel.UpdatePreReqFromSchedule" />


</script>

<script type="text/javascript">
    $(document).ready(function () {
        var prereqViewModelObj = new CourseListViewModel();
        prereqViewModelObj.LoadPreReqScheduleList("@Session["studentId"]");
    });
</script>
