@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ReviewCapeReview";
    var ScheduleId = ViewBag.ScheduleId;

}

<h3 class="page-header">View Cape Review For</h3>
<a href="/Student/ScheduleList"><< back</a>
<div id="divCapeReviews">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Course</th>
                <th>Course Rating</th>
                <th>Instructor</th>
                <th>Instructor Rating</th>
                <th>Summary</th>
            
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.capereviewListResult">
            <tr>
                <td data-bind="text: CourseId"></td>
                <td data-bind="text: CourseRating"></td>
                <td data-bind="text: InstructorId"></td>
                <td data-bind="text: InstructorRating"></td>
                <td data-bind="text: Summary"></td>

            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var capereviewViewModelObj = new CapeReviewViewModel();
        capereviewViewModelObj.LoadCapeReview("@ViewBag.cid");
    });
</script>

