@{
    ViewBag.Title = "GetSchedules";
}
<h3 class="page-header">Course List Page</h3>
<a href="/Student?id=@Session["StudentId"]"><< back</a>
<div id="divScheduleListContent">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Year</th>
                <th>Quarter</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: year"></td>
                <td data-bind="text: quarter"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                        to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <a data-bind="attr: { href : '/Admin/CreateSchedule', title: 'create' }">Add new Schedule</a>
</div>

@Html.Partial("SharedStudentEnrollment")

<script src="~/Scripts/knockout-3.3.0.js" type="text/javascript">
    $(document).ready(function () {
        var studentViewModelObj = new StudentViewModel();
        studentViewModelObj.GetDetail("@id");
    });
</script>

