@{
    ViewBag.Title = "GetMyStudents";
}

<h3 class="page-header">Student List</h3>
<a href="/Staff?id=@Session["staffId"]"><< back</a>
<div id="divStudentEnrollments">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.studentEnrollmentList">
            <tr>
                <td data-bind="text: StudentId"></td>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: LastName"></td>
                <td data-bind="text: Email"></td>
                <td data-bind="text: Grade"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                to for each element of the viewModel array -->
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <h3 class="page-header">Add Student To Enrollment</h3>
    <label>Student List</label>
    <div class="form-group">
        <select class="form-control" data-bind="options: viewModel.studentList,
                            value: viewModel.StudentId,
                            optionsText: 'Email',
                            optionsValue: 'StudentId',
                            optionsCaption: 'Choose a Student...'"></select>
    </div>
    <br />
    <input class="btn btn-primary" value="Enroll Student" type="button" data-bind="click: viewModel.EnrollStudent" />
</div>

<script type="text/html" id="action-template">
    <!-- in the template, $data is each element of the viewModel which contains "id" -->
    <a data-bind="DeleteStudentEnrollment: $data">Delete</a>
    <a data-bind="attr: { href : '/Staff/EditStudent?studentId=' + StudentId + '&scheduleId=' + @ViewBag.scheduleId, title: 'manage' }">manage</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var enrollmentViewModelObj = new EnrollmentViewModel();
        enrollmentViewModelObj.LoadStudentsByScheduleId(@ViewBag.scheduleId);
    });
</script>
