@{
    var id = ViewBag.id;
}
<h2 class="page-header">Edit</h2>

<div id="divSharedStudentEdit">
    <label>Student Id</label>
    <input class="form-control" type="text" data-bind="value: $data.first" /><br />
    <br />
    <label>First Name</label>
    <input class="form-control" type="text" data-bind="value: $data.first" /><br />
    <br />
    <label>Last Name</label>
    <input class="form-control" type="text" data-bind="value: $data.last" /><br />
    <br />
    <label>Password</label>
    <input class="form-control" type="text" data-bind="value: $data.last" /><br />
    <br />
    <input class="btn btn-primary" value="Update" type="button" data-bind="value: 'Update', click: $data.update" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>

